* {
    margin: 0;
    padding: 0;
}

.grid_container {
    display: grid;
    grid-template-rows: auto 2fr 6fr 3fr;
}

header,
section,
main,
footer {
    border: 1px solid black;
}

.theme {
    padding: 1em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#dark {
    background-color: black;
}

#aqua {
    background: aqua;
}

#salmon {
    background: salmon;
}

.theme_dark {
    background-color: black;
    color: aqua;
}

.theme_aqua {
    background-color: aqua;
    color: black;
}

.theme_salmon {
    background-color: salmon;
    color: black;
}

.display_main {
    display: flex;
    flex-flow: column wrap;
}

.div_image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
}

#btn_cliquer {
    padding: 1em 2em;
    border-radius: 17rem;
    background: rgb(184, 178, 178);
    color: black;
    cursor: pointer;
    border: none;
}

#btn_cliquer:hover {
    background: black;
    color: rgb(184, 178, 178);
}

.hide {
    width: 20%;
    height: 20%;
    visibility: hidden;
    border-radius: 17px;
}

.show {
    visibility: visible;
}

.lorem {
    margin-top: 1rem;
}

.api_personnage {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.personnage {
    padding: 4rem;
    border-radius: 2rem;
    background: black;
    color: white;
    font-size: larger;
    cursor: pointer;
}